<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="excelpath" value="..."/>
		<add key="sheetsNames" value="..."/>
		<add key="sheetsIndexes" value="..."/>
		<add key="headerRow" value="..."/>
		<add key="columnsToCheckDate" value="..."/>
		<add key="dateFormats" value="..."/>
		<add key="daysUntilExpirationCheck" value="..."/>
		<add key="columnsToEmail" value="..."/>
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.8.0" newVersion="1.8.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>